{% load static %}

<link rel="stylesheet" href="{% static 'rentApp1/main.css' %}">
<link rel="stylesheet" href="{% static 'rentApp1/jquery-ui.min.css' %}">

<div class="forms-container">
    <div class="forms-container-hidden form-containers">
        <div class="forms-close-btn"></div>
        <p class="log-logo">RENTALHOUSE</p>

        <div class="login-form-container login-containers">
            <h1>Hesabınıza giriş edin</h1>
            <p class="log-text">Məlumatlarınız bizimlə tam güvəndədir</p>
            <form method="POST" action="{% url 'login' %}" class="loginForm" target="_parent">
                {% csrf_token %}
                <p class="error-text login-error">Ad və ya şifrə yanlışdır</p>
                {% for field in login_form %}
                    <label id="{{ field.auto_id }}_log_lable">
                    {{ field }}
                    {% if field.auto_id == 'id_username' %}
                        <div class="spinner center spinner2">
                            <div class='spinner-blade'></div>
                            <div class='spinner-blade'></div>
                            <div class='spinner-blade'></div>
                            <div class='spinner-blade'></div>
                            <div class='spinner-blade'></div>
                            <div class='spinner-blade'></div>
                            <div class='spinner-blade'></div>
                            <div class='spinner-blade'></div>
                            <div class='spinner-blade'></div>
                            <div class='spinner-blade'></div>
                            <div class='spinner-blade'></div>
                            <div class='spinner-blade'></div>
                        </div>
                        <button type="button" class="user-button"><div class="user-button-after"></div></button>
                    {% endif %}
                    </label>
                {% endfor %}
                <label class="submitLabel">
                    <input type="submit" value="Giriş et" class="loginBtn" id="loginBtn"> 
                    <div class="spinner center spinner3">
                        <div class='spinner-blade'></div>
                        <div class='spinner-blade'></div>
                        <div class='spinner-blade'></div>
                        <div class='spinner-blade'></div>
                        <div class='spinner-blade'></div>
                        <div class='spinner-blade'></div>
                        <div class='spinner-blade'></div>
                        <div class='spinner-blade'></div>
                        <div class='spinner-blade'></div>
                        <div class='spinner-blade'></div>
                        <div class='spinner-blade'></div>
                        <div class='spinner-blade'></div>
                    </div>
                </label>
            </form>
            <a href="#" class="newAccBtn">Yeni hesab yaradın </a>
            <a href="{% url 'password_reset' %}" class="forgotPassword">Şifrə və ya adınızı unutmusunuz?</a>
        </div>

        <div class="signup-form-container register-containers">
            <h1>Qeydiyyatdan keçin</h1>
            <p class="log-text">Məlumatlarınız bizimlə tam güvəndədir</p>
            <form method="post" action="{% url 'register' %}" class="registerForm" target="_parent">
                {% csrf_token %}
                <p class="error-text all-errors">İşarələnmiş xanaları düzgün doldurun.</p>
                {% for field in register_form %}
                <p class="error-text {{ field.auto_id }}_error"></p>
                <label class="registration-labels">
                    {{ field }}
                    {% if field.auto_id == "id_email" or field.auto_id == "id_username" %}
                    <div class="spinner center">
                        <div class='spinner-blade'></div>
                        <div class='spinner-blade'></div>
                        <div class='spinner-blade'></div>
                        <div class='spinner-blade'></div>
                        <div class='spinner-blade'></div>
                        <div class='spinner-blade'></div>
                        <div class='spinner-blade'></div>
                        <div class='spinner-blade'></div>
                        <div class='spinner-blade'></div>
                        <div class='spinner-blade'></div>
                        <div class='spinner-blade'></div>
                        <div class='spinner-blade'></div>
                    </div>
                    {% endif %}
                </label>
                {% endfor %}
                <input type="submit" value="Hesab yarat" class="registerBtn">
            </form>
            <a href="#" class="alreadyUserBtn">Hesabınız var? </a>
        </div>
    </div>
</div> 
        <script src="{% static 'rentApp1/jquery.min.js' %}"></script>
        <script src="{% static 'rentApp1/jquery-ui.min.js' %}"></script>
        <script src="{% static 'rentApp1/jquery.mask.min.js' %}"></script>
        <script src="{% static 'rentApp1/main.js' %}"></script>