<!-- <form method="POST" class="loginForm" >
    {% csrf_token %}
   
    {{ form }}
    <label class="submitLabel">
        <input type="submit" value="Giriş et">
    </label>
</form> -->
{% load static %}

<link rel="stylesheet" href="{% static 'rentApp1/main.css' %}">
<link rel="stylesheet" href="{% static 'rentApp1/jquery-ui.min.css' %}">
<script src="https://kit.fontawesome.com/362aa1ebe5.js" crossorigin="anonymous"></script>

<div class="forms-container">
    <div class="forms-container-hidden form-containers">
        <div class="forms-close-btn"></div>
        <p class="log-logo">RENTALHOUSE</p>

        <div class="login-form-container login-containers">
            <h1>Hesabınızı geri qaytarın</h1>
            <p class="log-text">Məlumatlarınız bizimlə tam güvəndədir</p>
        </div>
        <i class="fas fa-envelope"></i>
        <p>Şifrənizi dəyişmək üçün emailinizə göndərilən maildəki linkə daxil olun</p>
        <a href="{% url 'authenticate' %}" class="ugh">Giriş ekranına qayıdın </a>
    </div>
</div> 
        <script src="{% static 'rentApp1/jquery.min.js' %}"></script>
        <script src="{% static 'rentApp1/jquery-ui.min.js' %}"></script>
        <script src="{% static 'rentApp1/jquery.mask.min.js' %}"></script>
        <script src="{% static 'rentApp1/main.js' %}"></script>